---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    BTECH in Computer Science Engineeing with Internship Experience in multiple tech domains like Mobile Development, Cloud 
    Computing , DevOps Tools and methodologies, Deep Learning and many more. Certified in AWS Cloud as a Solutions Architect
    Associate and familiar with GCP and Azure Cloud as well. Currently learning and expanding my knowledge in Data Structures and
    Algorithm , Web Development in ReactJS and exploring other technologies.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelors in Technology - Computer Science "
      subtitle="2018 to 2022 at JEMTEC - Indraprastha University, Delhi, India"
    />
    <TimeLineElement
      title="PCM with Computer Science"
      subtitle="2016 to 2018 at St. Mary's School , New Delhi , India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Product Developer at Market Xcel "
      subtitle="From March to Present ,2023 New Delhi, India"
      desc="Working on Project Bharat, developoing Android Application with PHP and MYSQL Database."
    />
    <TimeLineElement
      title="DevOps Engineer at Devtron Labs "
      subtitle="From Feb to July ,2022 Remote, India"
      desc="Led On-boarding of Client on micro-service based architecture using Devtron Stack. Created Shell Script which reduced manual work of updating and releasing of various micro-services by 80%. Created custom Lua script for ArgoCD app, did POCs on ArgoEvents and provided Documentations support for Devtron(CICD) tool. Reduced the manual efforts of the Ops Team by 40% by automating Helm Lint process using GitHub Actions."
    />
    <TimeLineElement
      title="Cloud Intern at ITEASE"
      subtitle="From Jul to August,2021 Remote,India"
      desc="Tested and Configured Virtual Machines for Application Software. Implemented File Sharing NFS in Microsoft Azure. Created Benchmarks for the performance of Virtual Machines"
    />
    <TimeLineElement
      title="Research Intern at LeadingIndia.Ai "
      subtitle="From May to June ,2020 Remote,India"
      desc="Researched and Developed Deep Learning Model with PyTorch as the framework forIdentification of footprints using Transfer Learning approach. Improved accuracy and efficiency of the Model by 20% using different algorithms, data modifications, and fine-tuning parameters. Wrote Research Paper, Article,Presentation and created a Video for the project."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://aw.certmetrics.com/amazon/public/verification.aspx" target="_blank"> AWS Solutions Architect Associate (YWE3ZMHBFMV113CD) </a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/59f4c634-01da-4c90-bc31-cacd6c32c993/public_url" target="_blank"> Microsoft Certified Azure Fundamental (AZ-900)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C++</li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>ReactJS</li>
    <li>Android</li>
    <li>MySQL</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Helm</li>
    <li>Data Structures</li>
    <li>Algorithms</li>
    <li>Devtron</li>
    <li>Astro</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  </ul>
</BaseLayout>
