---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import HorizontalCardNew from "../components/HorizontalCardNew.astro";

// const posts = (await getCollection('blog')).sort(
//   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
// );

// const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Gunish Jain</div>
      <div class="text-3xl py-3 font-bold">Software Developer</div>
      <div class="py-2">
        <text class="text-lg">
          I am a passionate software developer with a love for exploring and experimenting with new technologies and tools. I have a deep fascination with the world of software development and continuously seek to expand my knowledge and skill set. I believe that the key to success in software development lies in being adaptable and willing to embrace new challenges, and I am always eager to take on new projects that allow me to grow and learn.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/gunish-jain-b33383191/" target="_blank"> Let's connect!</a>
        <a href="https://github.com/gunishjain" target="_blank" class="btn btn-outline ml-5"> Github Profile</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    
      <div class="divider my-0"></div>
      <HorizontalCard
        title="News Fetcher Application"
        img="/projects_img/newsapp.png"
        desc="A News Application that allows users to fetch news built by following MVVM Architecture and Jetpack Components with Unit and Instrumentation Testing."
        url="https://github.com/gunishjain/NewsApp-MVVM-Architecture"
        badge="NEW"
      />

      <div class="divider my-0"></div>
      <HorizontalCard
        title="Wallpaper Changer"
        img="/projects_img/wallpaper.png"
        desc="A Wallpaper Changing Application that allows users to fetch latest wallpapers and apply to homescreen and lockscreen, also allows user to save it locally. It is following MVVM Architecture with Jetpack Components."
        url="https://github.com/gunishjain/WallpaperApp"
        badge="NEW"
      />
      <div class="divider my-0"></div>

      <HorizontalCard
      title="Recipe Fetcher Application"
      img="/projects_img/recipe.png"
      desc="Simple Android Application which fetches recipes from an API and displays it with the option to save,search and get details"
      url="https://github.com/gunishjain/FoodMVVM"
      />
    
    <!-- <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div> -->

    <!-- {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    } -->

</BaseLayout>

